

.header {
    height:var(--header-height);
    background-image: linear-gradient(0,#f25e33, #f73f28);
    color: #fff;
}

.header__navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin: 4px 0;
}

.header__navbar-item + .header__navbar-item {
    margin-left: 10px;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,0.1);
}

.header__navbar-user-name {
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    animation: fadein linear 0.3s;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: inline-block;
}
.header__navbar-user-menu {
    position: absolute;
    top: 110%;
    right: 0;
    list-style: none;
    background-color: var(--while-color);
    padding: 8px 0;
    border-radius: 2px;
    width: 140px;
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu::before {
    content: '';
    display: block;
    border-width: 12px 16px;
    border-style: solid;
    position: absolute;
    top: -22px;
    right: 30px;
    border-color: transparent transparent #fff transparent;
}

.header__navbar-user-item {
    
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    display: block;
    padding: 6px 16px;
}

.header__navbar-user-item a:hover {
    background-color: #D3D3D3;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}

.header__navbar-item {
    margin: 0 8px;
    position:relative;
    margin-top: 3px;
}

.header--xuat_hien:hover .header__qr {
    display: block;
}

.header__navbar-icon-link,
.header__navbar-item,
.header__navbar-item-link {
    display: inline-flex ;
    font-size: 14px;
    color: var(--while-color);
    text-decoration: none;
    font-weight: 400;
}

.header__navbar-item--bold {
    font-weight: 500; 
}

.header__navbar-item--separate::after {
    content:'';
    display: block;
    position: absolute;
    height: 15px;
    border-left: 1px solid #FB9086;
    right:-9px;
    top:0;
}

.header__navbar-icon:hover,
.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color:var(--while-color);
}



.header__qr {
    background-color: var(--while-color);
    width:186px;
    position: absolute;
    left:0;
    top:118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    z-index: 1;
    animation: fadein ease-in .3s;
}

.header__qr::before {
    position: absolute;
    width: 100%;
    left: 0;
    top: -7px;
    content: '';
    height: 11px;
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link:first-child:hover {
    opacity:0.5;
}
.header__qr-link:nth-child(2) {
    margin-right: 13px;
}

.header__qr-link:last-child:hover {
    opacity: 0.5;
}

.header__qr-dowload-img {
    height: 16px;
}


.header__notify {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    width:404px;
    top: 128%;
    right: 0;
    border: 1px solid #D3D3D3;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.3s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: '';
    border-style: solid;
    border-width: 10px 17px;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    top: -20px;
    right: 20px;
}

.header__notify::after {
    content:'';
    display: block;
    position: absolute;
    right: 0;
    top: -10px;
    width: 90px;
    height: 20px;

}
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.header--xuat_hien:hover .header__notify {
    display: block;
}

.header__notify-header {
    height: 40px;
    background-color: var(--while-color);
    cursor: default;
}

.header__notify-header h3 {
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item--viewed {
    background-color: #fccdc8;
}


.header__notify-item:hover {
    background-color: rgb(240, 230, 230);
}
.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;

}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    padding-top: 0.6rem;
    line-height: 1.8rem;
}

.header__notify-des {
    display: block;
    font-size: 1.1rem;
    padding-top: 0.7rem;
    color: #756F6E;
    line-height: 1.4rem;
}

.header__notify-footer {
    text-align: center;
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 32px;
    margin: auto;
}




/*authen modal */

.auth-form {
    width: 500px;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 400;
    color:var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color:var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    
}

.auth-form__group {

}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.2rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}
 
.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 16px;
}

.auth-form__policy-text {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.8rem;
}

.auth-form__text-link {
    font-weight: 400;
    color: var(--primary-color);
}
.auth-form__controls {
    display: flex;
    margin-top: 70px;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    margin-left: 10px;
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    color: var(--while-color);
    background-color: #3a5a98;
}

.auth-form__socials--facebook .auth-form__socials-icon {
    color: var(--while-color);
}

.auth-form__socials--google .auth-form__socials-icon {
}

.auth-form__socials-title {
    margin: 0 30px;
}
.auth-form__separate {
    display: flex;
    height:16px;
    border-left: 1px solid #756F6E;
    margin:0 8px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.3rem;
    color: var(--text-color);
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/*search*/

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
}

.header__logo-img {
    width: 120px;
}

.header__search {
    background-color: var(--while-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}


.header__cart {
    width: 150px;
    text-align: center;
}
 
.header__cart-icon {
    font-size: 1.9rem;
    color: var(--while-color);
    margin-top: 6px;
    animation: fadein linear 0.3s;
}

.header__cart-notice {
    position: absolute;
    background-color: var(--while-color);
    padding: 1px 6px;
    color: var(--primary-color);
    font-size: 1.2rem;
    line-height: 1.2rem;
    top: -4px;
    right: -8px;
    border-radius: 50%;
    border: 2px solid #ee4d2d;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding:0 6px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list{
    position: absolute;
    top: 138%;
    right: -8px;
    background-color: #fff;
    width: 350px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    cursor: default;
    z-index: 1;
    display: none;
}

.header__cart-list::after {
    content: '';
    position: absolute;
    display: block;
    right: 8px;
    top: -24px;
    cursor: pointer;
    border-width: 12px 16px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.header__cart-list--no-cart {
    padding: 16px 0;
}

.header__cart-no-cart-img {
    width: 60%;
    display: none;
}

.header__cart-list-no-cart-msg {
    color: var(--text-color);
    display: none;
    font-size: 1.3rem;
    margin-top: 14px;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    color: #999;
    font-size: 1.3rem;
    font-weight: 400;
    
}

.header__cart-list-item {
    padding: 0;
    color: var(--text-color);
    list-style: none;
    height: 56vh;
    overflow: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    height: 42px;
    width: 42px;
    margin: 6px 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.3rem;
    font-weight: 420;
    margin: 0;
    line-height: 1.8rem;
    max-height: 3.6rem;
    overflow: hidden;
    flex: 1;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-price-wrap {

}

.header__cart-item-price {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin:0 4px;
    color: #757575;

}

.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;

}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 350;
}

.header__cart-item-remove {
    cursor: pointer;
    font-weight: 450;
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: #ec593c;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #ec593c;
}

/*header__search*/
.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input {
    width: 100%;
    outline: none;
    border: none;
    margin: 0 8px;
    color: var(--text-color);
    font-size: 1.3rem;
    border-radius: 2px;
    height: 100%;
}

.header__search-select {
    position: relative;
    margin-left: 8px;  
    border-left: 1px solid #777;
    padding-left: 16px; 
    cursor: pointer;
    animation: growth linear 0.3s;
}

.header__search-option::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    top: -16px;
}
.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-label {
    color: var(--text-color);
    font-size: 1.3rem;
}

.header__search-select-icon {
    font-size: 1.3rem;
    margin: 0 8px;
    color: #4a4a4a;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    width: 60px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #ec593c;
    cursor: pointer;
}

.header__search-btn-icon  {
    color: var(--while-color);
    font-size: 1.3rem;
}

.header__search-option {
    position: absolute;
    color: var(--text-color);
    right: 0;
    top:120%;
    width: 130px;
    list-style: none;
    padding: 0;
    box-shadow: 0 0 3px #ccc;
    border-radius: 2px;
    display: none;
}

.header__search-option-item {
    background-color: var(--while-color);
    border-radius: 2px;
    padding: 8px;
    
}

.header__search-option-item:hover {
    background-color: #fafafa;
}
.header__search-option-item span {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-left: 20px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 4px 0 8px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}
/*search history*/ 
.header__search-history {
    position: absolute;
    top: calc(100% +2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 3px #555;
    color: var(--text-color);
    margin-top: 4px;
    overflow: hidden;
    z-index: 1;
    display: none;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.3rem;
    color: #999;
    font-weight: 400;
    margin-bottom: 5px;
}

.header__search-history-list {
    padding-left: 0;
    margin-bottom: 0;
}

.header__search-history-item {
    list-style: none;
    padding: 0 12px;
    line-height: 38px;
}
 
.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
}



/*app__container*/
.app__container {
    background-color: #f5f5f5;
}

.category {
    background-color: var(--while-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-top: 0;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    
}

.category-item {

} 

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: '';
    top: 50%;
    left: 4px;
    position: absolute;
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
    right: 0;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
    margin-left: 9px;
}

/* home sort + filter*/

.home-filter {
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.05);
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    color: #555555;
    font-size: 1.3rem;
    margin-right: 16px;
    user-select: none;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}

.select-input {
    
}


.select-input__label {
    font-size: 1.3rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgb(131,131,131);
    position: relative;
    top: 1px;
}
.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-curent {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--while-color);
    text-decoration: none;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.3rem;
    color: #555555;
}

/*product item*/

.home-product-item {
    position: relative;
    margin-top: 10px;
    background-color: var(--while-color);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.home-product-item__name {
    font-size: 1.3rem;
    font-weight: 350;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 0px 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* cái này dùng khi giới hạn chỉ là 1 dòng
    text-overflow: ellipsis;
    white-space: nowrap;
    */
}

.home-product1 {
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.home-product-item__price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-product-item__infor {
    font-size: 1.1rem;
    margin: 10px 10px 0;
}
.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: line-through;
}

.home-product-item__price-current {
    margin-left: 10px;
    font-size: 1.6rem;
    color: var(--primary-color);
}

.home-product-item__action {
    display: flex;
    margin: 6px 10px 0 10px;
    justify-content: space-between;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    color: #f63d30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: flex;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: #d5d5d5;
    margin-left: auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__origin {
    display: flex;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__brand {
    margin-right: auto;
}

.home-product-item__origin-name {

}

.home-product-item__favourite {
    position: absolute;
    top: 6px;
    left: -4px;
    background-color: currentColor;
    color: var(--primary-color);
    padding: 0 4px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__favourite::before {
    content: '';
    position: absolute;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    left: 0;
    top: 16px;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--while-color);
}

.home-product-item__favourite i {
    color: var(--while-color);
    font-size: 0.9rem;
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    width: 40px;
    text-align: center;
    color: rgba(255,216,64,0.95);
    background-color: currentColor;
}

.home-product-item__sale-off::before {
    content: '';
    position: absolute;
    border-width: 0 20px 4px;
    right: 0;
    bottom: -4px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 3px;
}

.home-product-item__sale-off-label {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--while-color);
    font-weight: 600;
    position: relative;
    top: 4px;
}

/* form  */
.form-group {
    display: flex;
    flex-direction: column;
}